<!DOCTYPE html>
<html>
    <head>
        <title>Learning AngularJS</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
      <div id="container" ng-app="angles" ng-controller="Controller as ctrl">
        <p>{{ctrl.intro}}</p>
        <section id="part1-basics">
          <input type="text" ng-model="ctrl.nameValue" />
          <span>{{ctrl.nameLabel + ctrl.nameValue}}</span>
        </section>
        <section id="part2-binding">
          <select ng-model="ctrl.selectedBrand" ng-options="car.brand for car in ctrl.vehicles"></select>
          <select ng-model="ctrl.selectedCar">
            <option ng-repeat="model in ctrl.vehicles[ctrl.selectedBrand.id].model">{{model}}</option>
          </select>
        </section>
      </div>
      <script src="app.js"></script>
    </body>
</html>
