<!DOCTYPE html>
<html>
    <head>
        <title>Learning AngularJS</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
      <div id="container" ng-app="angles" ng-controller="controller">
        <p>{{intro}}</p>
        <section id="part1-basics">
          <input type="text" ng-model="nameValue" />
          <span>{{nameLabel + nameValue}}</span>
        </section>
        <section id="part2-binding">
          <select ng-model="selectedBrand" ng-options="car.brand for car in vehicles"></select>
          <select ng-model="selectedCar">
            <option ng-repeat="model in vehicles[selectedBrand.id].model">{{model}}</option>
          </select>
        </section>
      </div>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
      <script src="controller.js"></script>
    </body>
</html>
